.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.menu-item {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}