.card-list {
    padding-inline: 50px;
    padding-top: 50px;
    padding-bottom: 150px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    overflow: hidden;
}