.block {
    background-color: #87ebc5;
    margin: 10px;
    border-radius: 10px;
    padding-inline: 15px;
    padding-block: 10px;
    border: 2px solid gray;
    width: 70vw;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 24px;

}
